@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700;800;900&display=swap');

:root{
  --blue-color: hsl(228, 45%, 44%);
 --Orange: hsl(26, 100%, 55%);
 --Pale-orange: hsl(25, 100%, 94%);
 --Black : hsl(0%, 0%, 0%, 0.75%);

 /*  */
   --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
a:visited,
a:active {
  color: var(--black);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  margin: auto;
  width: 1200px;
  min-height: 100vh;
}

/* ////////// Header ///////// */
.header {
  max-width: 1200px;
  position: relative;
  height: 13.5vh;
  padding: 1.4rem 0rem .3rem;

  border-bottom: 2px solid var(--grayish-blue);
  margin: .2rem 2rem 4.5rem;
}

.header__buttom {
    margin: auto;
}

.header__navigation {
  display: flex;
  width: 100%;
}

.header__navbar {
  display: inline-block;
}

.header__navbar_span {
  font-size: 3.2rem;
  font-weight: 800;
  display: inline-block;
  letter-spacing: .4px;
  margin-right: .7rem;
}

.header__navbar__list{
  display: inline-block;
  margin-left: 1rem;
}

.header__navbar_items {
  list-style: none;
}

.header__navbar_anchor {
  margin-left: 2.5rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.521);
  font-size: 1.6rem;
  font-weight: 500;
}

.header__navbar_anchor:hover {
  padding-bottom: 3.6rem;
    border-bottom: 2px solid var(--Orange)
  }
  
  .header_cart_N_image {
  display: inline-block;
  position: relative;
  left: 35rem;
}

.header_cart {
  display: inline-block;
  margin-right: 2rem;
  padding-left: 2rem;
  position: relative;
  left: 2.8rem;
  cursor: pointer;
}

.header_avatar {
  display: inline-block;
  max-width: 10rem;
  position: relative;
  top: .8rem;
  left: 5rem;
  cursor: pointer;
}

.header_avatar img{
  max-width: 40%;
}

.header_avatar img:hover {
  border: 3px solid var(--Orange);
  border-radius: 50%;
}


/*////////////// Main ////////*/
.main {
  height: 70vh;
  max-width: 1300px;
  padding: 0 5rem;
  display: flex;
}

.main__section-img {
  max-width: 50%;
  margin-left: 3rem;
}

.main__section-text {
  max-width: 47%;
  padding: 5rem 1rem 0;
  margin-left: -5rem;
}

.section__main-img {
  max-width: 70%;
}


/* ///////images and smaller images */
.section__main-img  img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
} 

/* //smaller images//*/

.mini__images{
  display: flex;
  max-width: 100%;
  gap: 2.5rem;
  padding: 1.5rem .8rem 0;
  
}

.mini__images img {
  max-width: 14%;
  border-radius: 8px;
  cursor: pointer;
  height: 7.7rem;
}

.active {
    line-height: 0%;
    border: 3.2px solid var(--Orange);
    opacity: 0.5;
}

.first_text {
  color: var(--Orange);
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
}

.second_text {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.paragraph_text {
  font-size: 1.7rem;
  color: var(--dark-grayish-blue);
  margin-bottom: 1.6rem;
}

.price_tag_container {
  margin-top: -.6rem;
}

.price {
  font-size: 2.5rem;
  font-weight: 700;
  margin-right: 2rem;
  display: inline-block;
}


.price_percent {
  display: inline-block;
  color: var(--Orange);
  font-size: 1.9rem;
  background-color: var();
  font-weight: 600;
  background-color: var(--Pale-orange);
  padding: 0 0.7rem;
  border-radius: 0.2rem;
  margin-bottom: 0.4rem;
}


.previous_price {
  color: var(--grayish-blue);
  padding-top: 0.8rem;
  text-decoration: line-through 2px;
  font-weight: 700;
  font-size: 1.7rem;
  margin-right: 10rem;
}

.btn__for-clicked {
  margin-top: 1.4rem;
  min-width: 100%;
  display: flex;
}

.clicked_for_cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  width: 22rem;
  height: 5.2rem;
  background-color: var(--light-grayish-blue);
  margin-right: 1rem;
  margin-bottom: -1.65rem;
  padding: 1.6rem 1rem;
  height: 6rem;
  border-radius: .75rem;
}

.clicked_for_cart button {
    border: none;
    cursor: pointer;
    background: none;
}

.clicked_for_cart button img {
  width: 1.5rem;
  border: none;
  background: none;
  outline: 0;
}

.clicked_for_cart button:active {
  transform: translateY(3px);
}

.quantity_selected {
  font-weight: 700;
  border-left: 1px solid var(--dark-grayish-blue);
  border-right: 1px solid var(--dark-grayish-blue);
  padding: 0 3rem;
  font-size: 1.6rem;
}

.btn {
  color: var(--white);
  border: none;
  height: 5.7rem;
  padding: 1.2rem 4rem;
  width: 25rem;
  margin-left: 2rem;
  display: inline-block;
  position: relative;
  background-color: var(--Orange);
  fill: currentColor;
  border-radius: 8px;
  box-shadow: 4px 4px 4px 0px hsl(26deg 100% 55% / 30%);
   cursor: pointer;
  transition: all 700ms;
}


.cart_parent {
  position: relative;
  right: 2rem;
  fill: currentColor;
  color: #fff;
}

.btn__cart {
  fill: currentColor;
  color: #fff;
}

.btn__text {
  font-size: 1.6rem;
  font-weight: 700;
}


/* ////////////////////Modal Pop Up */
.images__modal {
  position: absolute;
  top: 51.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
  /* height: 80vh; */
  height: 95%;
  /* background-color: white; */
  padding: 6rem;
  border-radius: 5px;
  z-index: 10;
}

.close_Modal_popup {
  position: absolute;
  top: 1.5rem;
  color: var(--Orange);
  right: 10rem;
  font-size: 4rem;
  /* color: #333; */
  cursor: pointer;
  border: none;
  background: none;
}

.modal-img__box {
  margin-top: 40%;
  max-width: 78%;
  position: relative;
  left: 50%;
  /* right: 50%; */
  transform: translate(-50%, -50%);
}

.prev_icon_parent {
  max-width: 5rem;
  background-color: var(--white);
  /* margin: auto; */
  padding: 1.2rem 1.7rem 1.2rem 1.55rem;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 78.5%;
  z-index: 10;
  cursor: pointer;
}

.next_icon_parent {
  /* max-width: 2rem; */
    max-width: 5rem;
  background-color: var(--white);
  /* margin: auto; */
  padding: 1.2rem 1.7rem 1.2rem 1.55rem;
  border-radius: 50%;
  position: absolute;
  display: inline-block;
  top: 50%;
  right: 78.5%;
  z-index: 10;
}
/* .hidden {
  display: none;
} */

.modal-img__box img {
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.5);
  max-width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.mini__images_modal { 
  position: relative;
  justify-content: center;
  /* outline: 2px solid orangered; */
  left: 10.5%;
  bottom: 21rem;
  max-width: 80% ;
  display: flex;
  padding: 1.5rem .8rem 0;
  gap: 2rem;
}


.mini__images_modal img {
  max-width: 60%;
  border-radius: 8px;
  cursor: pointer;
  height: 7.7rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* 
remaiing;
mobile menu;
cart for 1)empty display 2) selected input display
javascript
*/


/*/////////// reuseable classes ///*/
.view_box {
  border: 3px solid orangered;
}


/* TODO 
-- Cart amount onlick with orange background.
-- Cart pop design for a). pre_selected b).post selected
-- Image modal pop-up with a).Mini image below. b). X for calcel c).Left and right toggle for image sslider d).
-- Mobile responsiveness. a).Hamburger menu b).background color opacity on pop up
--  Cart number increase on addition click and reduce on minus click

*/